{:app-id-ios "moi.paradise.ios", :app-id "moi.paradise.web", :app-id-android "moi.paradise.android", :app-name "Paradise", :push-url "https://web.paradise.moi/_matrix/push/v1/notify", :vapid-key "BHLwykXs79AbKNiblEtZZRAgnt7o5_ieImhVJD8QZ01MVwAHnXwZzNgQEJJEU3E5CVsihoKtb7yaNe5x3vmkWkI", :version "0.37.4",
 :registry-url "https://paradise-chat.github.io/community-registry/registry.edn"}
